body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 40px;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

nav{
  margin-top:20px;
}

nav a{
  margin-right: 15px;
  text-decoration: none;
  color:#333;
  font-weight:bold;
}

nav a:hover{
  color:#0077cc;
}

.container {
  max-width:900px;
  margin:0 auto;
}

.hero{
  text-align: center;
  padding: 60px 20px;

}

.cta-button{
  display:inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #0077cc;
  color:white;
  text-decoration: none;
  border-radius: 6px;
}

.cta-button:hover {
  background-color: #005fa3;
}

nav{
  display:flex;
  gap:20px
}